.App{
  width: 100vw;
  height: 100vh;
}

span{
  width: 3px;
  height: 3px;
  position: absolute;
  border-radius: 100%;
  background-color: #ff0707;
}

.btns{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.null-dot{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}